createdAt: "2020-01-16T20:36:06.110Z"
updatedAt: "2020-02-07T20:17:56.869Z"
type: "MARKDOWN_NOTE"
folder: "7b7225fb954665754643"
title: "vi and how to use it to edit files"
tags: []
content: '''
  # `vi` and how to use it to edit files
  
  - In the terminal enter `vi [file_name]`
  - Use the arrow keys to move to the part of the files you want to change
  - Use the `i` command to enter Insert Mode
  - Make you edition
  - Return to Normal Mode by pressing `esc`
  - Type `:` to go the bottom of the screen
  - Type `wq`, these 2 commands `w` for write (or save) and `q` for quit will return you to the terminal
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
