createdAt: "2019-09-03T18:48:03.164Z"
updatedAt: "2020-08-05T21:20:02.994Z"
type: "MARKDOWN_NOTE"
folder: "0502aa55141f2315e808"
title: "Using Jupyter Notebook to Analyze IBM DB2 database"
tags: [
  "ibm"
  "jupyter"
  "python"
  "db2"
  "#"
]
content: '''
  # Using Jupyter Notebook to Analyze IBM DB2 database
  
  - Load ipython-sql extension
  
  ```python
  %load_ext slql
  ```
  
  - establish connection so the database
  ```python
  %sql ibm_db_sa:\\\\qpv73871:w1d7bjbs%40xgvb0qt@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000\\BLUDB
  ```
  
  
'''
linesHighlighted: [
  0
  1
]
isStarred: false
isTrashed: false
