createdAt: "2021-03-11T14:34:44.556Z"
updatedAt: "2021-03-11T15:04:06.048Z"
type: "MARKDOWN_NOTE"
folder: "a2c0786da6dece68d518"
title: "WSL (Windows Subsystem for Linux)"
tags: [
  "wsl"
  "linux"
]
content: '''
  # WSL (Windows Subsystem for Linux)
  
  ## to access the Windows file system
  in bash go to `/mnt/<drive letter>`
  
  
  ## WSL files are stored under
  `%LOCALAPPDATA%\\lxss` a hidden system folder
  
  
  ### using Visual Studio Code
  To use Visual Studio Code install Remote-WSL
  [Remote - WSL - Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
