createdAt: "2019-10-25T00:08:21.340Z"
updatedAt: "2020-10-09T19:36:46.630Z"
type: "SNIPPET_NOTE"
folder: "7b7225fb954665754643"
title: "Base HTML"
tags: [
  "html<"
]
description: "Base HTML"
snippets: [
  {
    linesHighlighted: [
      0
    ]
    name: "index.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="en">
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
      
          
      
          <link rel="stylesheet" href="./css/styles.css">
          <title>Your Title</title>
        </head>
        <body>
            <!-- Bootstrap JS -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
            <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
            <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        </body>
      </html>
        
    '''
  }
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: false
