createdAt: "2021-02-05T17:27:43.216Z"
updatedAt: "2021-02-05T17:43:59.556Z"
type: "SNIPPET_NOTE"
folder: "096077ec96120ea00fda"
title: "Arrays"
tags: [
  "array"
]
description: "Arrays"
snippets: [
  {
    linesHighlighted: []
    name: "arraysJavaScript.js"
    mode: "JavaScript"
    content: '''
      let myArray = [1, 2, 3];
      
      // add element to array
      // add to the end
      myArray.push(4);  //[1, 2, 3, 4]
      // add to the beginning
      myArray.unshift(0);
      
      // remove and return element of array
      // lastElement
      const lastElement = myArray.pop();
      // firstElement
      const firstElement = myArray.shift();
      
      
      
      
    '''
  }
  {
    linesHighlighted: []
    name: "arrayPython.py"
    mode: "Python"
    content: '''
      #### LISTS ####
      # list are mutable ordered sequence of elements
      
      my_list = [1, 2, 3]
      
      # add to the end of array
      my_list.append(4)  # [1, 2, 3, 4]
      
      # delete and return element at index
      fist_element = my_list.pop(0)
      # if no index is provided the default is the last element
      last_element = my_list.pop()
      
      
      
      
    '''
  }
]
isStarred: false
isTrashed: false
