createdAt: "2020-02-14T17:02:38.963Z"
updatedAt: "2020-02-14T17:02:44.919Z"
type: "MARKDOWN_NOTE"
folder: "0502aa55141f2315e808"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
