createdAt: "2020-03-30T23:30:39.127Z"
updatedAt: "2020-06-30T22:15:04.950Z"
type: "MARKDOWN_NOTE"
folder: "68038d270558e5b040df"
title: "formatting strings"
tags: [
  "python"
  "print"
  "string_literal"
]
content: '''
  ## formatting strings
  
  To use `formatted string literals`, begin a string with `f` or `F` before the opening quotation mark or triple quotation mark. Inside this string, you can write a Python expression between { and } characters that can refer to variables or literal values.
  
  ```python
  year = 2016
  event = 'Referendum'
  f'Results of the {year} {event}'
  #'Results of the 2016 Referendum'
  ```
  With the `str.format()` method
  ```python
  yes_votes = 42_572_654
  no_votes = 43_132_495
  percentage = yes_votes / (yes_votes + no_votes)
  '{:-9} YES votes  {:2.2%}'.format(yes_votes, percentage)
  ' 42572654 YES votes  49.67%'
  ```
'''
linesHighlighted: [
  2
]
isStarred: false
isTrashed: true
