createdAt: "2020-02-19T20:14:31.962Z"
updatedAt: "2020-07-02T17:41:49.674Z"
type: "MARKDOWN_NOTE"
folder: "0502aa55141f2315e808"
title: "JS Variables"
tags: [
  "js"
  "javascript"
  "variables"
  "undefined"
  "nan"
]
content: '''
  # JS Variables
  
  - When js variables are declared, they have an initial value of `undefined`.
  - If you do a mathematical operation on an `undefined` variable, your result will be `NaN`, wich means not a number.
  - If you concatenate a string with an `undefined` variable the result is `undefined`.
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
